snippet start
#include <iostream>

using namespace std;

int main(int argc, const char * argv[]) {
	${0:// insert code here...}
	return 0;
}
endsnippet

snippet acm
#include <cstdio>

int main() {
#ifndef ONLINE_JUDGE
	freopen("in.txt", "r", stdin);
#endif

	${0:// insert code here...}

	return 0;
}
endsnippet
